@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow: hidden;
  /* -ms-overflow-style: none; Internet Explorer 10+ */
  /* scrollbar-width: none; Firefox */
}

.header {
  @apply text-3xl font-medium mb-2 ml-1 h-12;
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #242429;
  border-radius: 16px;
}
